.imagem_div {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #e7e7e7;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: auto;
    max-height: 390px;
    overflow: hidden;
    min-height: 210px;
  }
  
  .imagem_slide,
  .imagem {
    object-fit: cover;
    min-width: 100%;
    width: auto;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
  }
  .imagem {
    display: none;
  }
  .mySwiper {
    border-radius: 20px 20px 0 0 !important;
  }
  @media (min-width: 48rem) {
    .imagem_div {
      min-height: 243px;
    }
    .imagem {
        display: block;
      }
}