.slide_photos .swiper-button-next,
.slide_photos .swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--cor-primaria);
  opacity: 0.8;
  margin-top: calc(-10px - (var(--swiper-navigation-size) / 2));
  color: white;

  --swiper-navigation-size: 22px;
  --swiper-navigation-top-offset: 55%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #00000020 !important;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Padrão */
}

.slide_photos .swiper-button-next {
  right: 4px;
}
.slide_photos .swiper-button-prev {
  left: 4px;
}

.slide_photos .swiper-button-next::after,
.slide_photos .swiper-button-prev::after {
    font-size: 10px;
}
.slide_photos .swiper-button-next:hover,
.slide_photos .swiper-button-prev:hover {
  opacity: 1;
}

.slide_photos .swiper-button-next.swiper-button-disabled,
.slide_photos .swiper-button-prev.swiper-button-disabled {
  pointer-events: visible !important;
  opacity: 0.35;
}

@media (min-width:48rem ) {
    .slide_photos {
        display: none !important;
    }
}