.produto {
  flex-basis: 50%;
  width: 100%;
  max-width: 50%;
  min-width: 144px;
  display: flex;
  flex-direction: column;
  height: 70vw;
  position: relative;
  cursor: pointer;
  padding: 5px;
  gap: 16px;
  box-sizing: border-box;
  background-color: white;
  text-align: start;
}
.promotion_active {
  height: calc(70vw + 20px);
}

.like {
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 9999px;
}
.imagem_div {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #e7e7e7;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.imagem {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 12px;
}
.infos {
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nome_produto {
  color: #000;
  font-family: var(--fonte-primaria);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.preco {
  color: var(--cor-primaria);
  font-family: var(--fonte-primaria);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.promotion {
  position: absolute;
  left: 16px;
  top: 16px;
  width: max-content;
  min-width: 58px;
  height: 24px;
  background-color: var(--cor-contraste);
  font-size: 16px;
  font-weight: 700;
  color: white;
  font-family: var(--fonte-primaria);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.promocao_preco {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.promocao_preco span {
  font-weight: 300;
  font-size: 16;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: line-through;
}
.promocao_preco p {
  font-weight: 700;
  font-size: 16px;
  font-family: var(--fonte-primaria);
  color: var(--cor-contraste);
}
@media (min-width: 48rem) {
  .produto {
    height: 35vw;
    flex-basis: 25%;
    max-height: 480px;
    max-width: 280px;
    box-sizing: border-box;
  }
}
