.produto {
  flex-basis: 50%;
  width: 100%;
  max-width: 50%;
  min-width: 144px;
  display: flex;
  flex-direction: column;
  height: 440px;
  position: relative;
  cursor: pointer;
  padding: 5px;
  gap: 16px;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  font-family: var(--fonte-primaria);
}

.like {
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 9999px;
}
.imagem_div {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #e7e7e7;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.imagem {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 12px;
}
.infos {
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nome_produto {
  color: #000;
  font-family: var(--fonte-primaria);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  height:55px;
  padding: 0 8px;
  max-width: 100%;
  word-wrap: break-word;
}

.preco {
  color: var(--cor-primaria);
  font-family: var(--fonte-primaria);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.promotion {
  position: absolute;
  left: 16px;
  top: 16px;
  width: max-content;
  min-width: 58px;
  height: 24px;
  background-color: var(--cor-contraste);
  font-size: 16px;
  font-weight: 700;
  color: white;
  font-family: var(--fonte-primaria);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.promocao_preco {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.promocao_preco span {
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: line-through;
}

.preco_parcelado {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: #7C7C7C !important;
}
.preco_parcelado span{
  font-size: 12px;
  text-decoration: none !important;
  font-weight: 600;
}
.promocao_preco p {
  font-weight: 700;
  font-size: 16px;
  font-family: var(--fonte-primaria);
  color: var(--cor-contraste);
}

.botao_adicionar {
  width: 100%;
  border: none;
  background-color: #EF3C3C;
  color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 16px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all .2s;
}

.botao_adicionar:hover {
  background-color: #000;
}
@media (min-width: 48rem) {

  .botao_adicionar {
    font-size: 16px;
  }
  .produto {
    flex-basis: 25%;
    max-height: 480px;
    max-width: 280px;
    box-sizing: border-box;
  }
}
