.div_titulo{
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 326px;
  margin: 0 auto;
}

.titulo {
  color: #471703;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  font-variant: small-caps;

}
