.section_produtos {
  padding-bottom: 64px;
  margin-top: 32px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
  grid-column: 1/-1;
}

.informacoes {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 8px;
  box-sizing: border-box;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.informacoes a {
  display: none;
}
.informacoes div {
  text-align: center;
  padding: 0;
  gap: 0;
}
.total_pesquisa {
  font-size: 14px;
  font-weight: 300;
  font-family: var(--fonte-primaria);
}
.loading {
  display: none;
}
.loading.ativo {
  display: block;
}
.select_view {
  display: flex;
  gap: 8px;
}
.select_view img {
  padding: 4px;
  cursor: pointer;
}

.botao {
  margin-top: 32px;
}


@media (min-width:48rem) {
  .informacoes > div {
    justify-content: center;
    text-align: center !important;
  }

}