.section {
  padding: 0px 10px 64px 10px;
  max-width: 1220px;
  margin: 0 auto;
}
.section h2 {
  margin-bottom: 16px;
}
.loading {
  display: none;
}
.loading.ativo {
  display: block;
}
@media (min-width: 48rem) {
  .produtos_wraper {
    grid-template-columns: repeat(auto-fit, minmax(240px, 290px));
  }
  .section {
    margin-top: 32px;
    text-align: center;
  }

  .home {
    display: none !important;
  }

  .botao_sessao {
    max-width: 200px;
    margin: 0 auto;
  }
}
