.botao_comentar {
  margin-top: 32px;
}

.titulo_comentario {
  margin-top: 64px;
  margin-bottom: 32px;
}

@media (min-width: 64rem) {
  .comentarios_container {
    grid-column: 1;
  }
  .titulo_comentario {
    display: none;
  }
  .botao_comentar{
    padding-bottom: 32px;
  }
}