.btn_add {
  max-width: 160px;
  min-width: 100px;
  height: 40px;
  background-color: transparent;
  border: #696cff;
  border-radius: 8px;
  border: 3px solid rgba(105, 108, 255, 0.4);
  color: #696cff;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.1s;
}

.btn_add:hover {
  outline: 2px solid rgba(105, 108, 255, 0.7);
  background-color: #5f61e1;
  color: white;
  transform: translateY(-3px);
}

.btn_add.loading {
  outline: 2px solid rgba(105, 108, 255, 0.7);
  background-color: #9fa0ea;
  cursor: progress;
  transform: translateY(-3px);
}
.btn_add.loading:hover {
  background-color: #9fa0ea;
  cursor: progress;
  transform: translateY(-3px);
}

@media (max-width: 767px) {
  .btn_add {
    min-width: 50px;
    width: max-content;
    padding: 8px 16px;
    border-radius: 6px;
    height: 35px;
    font-size: 12px;
  }
}
