.btn_rmv {
  max-width: 160px;
  min-width: 100px;
  height: 40px;
  background-color: #ffe0db;
  border: #696cff;
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.25rem 0 #ffe0db;
  color: #ff3e1d !important;
  cursor: pointer;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.2s;
}
.btn_rmv:hover {
  border: 1px solid #ff3e1d;
  font-weight: 700;
  transform: translateY(-3px);
  background-color: #ffcbc3;
}

.btn_rmv.loading {
  opacity: 0.6;
  transform: translateY(-3px);
  border: 1px solid #ff3e1d;
  background-color: #ffcbc3;
  font-weight: 700;
  cursor: progress;
}

@media (max-width: 767px) {
  .btn_rmv {
    min-width: 50px;
    width: max-content;
    padding: 6px 8px;
    border-radius: 6px;
    height: 35px;
    font-size: 12px;
  }
}
