.corpo a {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  max-width: max-content;
}

.button_img {
  border-radius: 999px;
  height: 0px;
  width: 0px;
  border: none;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.corpo p {
  font-family: var(--fonte-primaria);
  font-style: normal;
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.corpo p:hover {
  color: var(--cor-contraste);
}
