.cores {
  width: 150px;
  height: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 32px;
  border: 1px solid rgba(220, 220, 220, 0.6);
  border-radius: 48px;
  box-sizing: border-box;
  padding: 0 16px;
  justify-content: space-between;
  background-color: white;
}
.selectColor_container {
  position: relative;
}
.select_color {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cor_selecionada {
  width: 24px;
  height: 24px;
  border: 1px solid #dbe5f1;
  border-radius: 24px;
}

.seta {
  width: 9px;
  height: 9px;
  transition: 0.2s ease-in;
}
.seta.ativo {
  rotate: 180deg;
}

.selectColors {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: white;
  min-height: 40px;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.cores_disponiveis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px ;
  cursor: pointer;
  padding-right: 42px;
}
.cores_disponiveis:hover {
  background: rgba(220, 220, 220, 0.6);
}