.breadcrumb {
  position: relative;
  width: 48%;
  max-width: 500px;
}
.wrapper_breadbrumb {
  display: flex;
  max-width: 500px;
  justify-content: space-between;
  align-items: center;
}

.checkbar_container {
  width: 100%;
  height: 6px;
  background-color: #d9d9d9;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
}
.checkbar {
  display: block;
  width: 33%;
  height: 100%;
  background-color: #361328;
}

.item {
  position: relative;
}
.item p {
  position: absolute;
  width: max-content;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  font-weight: 600;
  font-size: 11px;
}

.imagem_ativa,
.imagem {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  width: 34px;
  height: 34px;
}

.imagem_ativa {
  background-color: #361328;
}

@media (max-width: 48rem) {
  .wrapper_breadbrumb {
    max-width: 700px;
  }
  .breadcrumb {
    width: 90%;
    max-width: 700px;
  }
}
