.botaoColorido {
  width: 311px;
  height: 51px;
  min-width: 310px;
  min-height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;

  gap: 8px;
  flex-shrink: 0;
  border-radius: 48px;
  background: #471703;
  border: none;
  cursor: pointer;

  color: #fff;
  font-family: var(--fonte-primaria);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.botaoColorido.loading {
  cursor: progress;
  opacity: 0.5;
  animation: afundarSubir 0.5s forwards ease-in-out;
  transform-style: preserve-3d;
}

@keyframes afundarSubir {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(5px) scale(0.98);
  }
}
