.fechar {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  top: 40px;
  right: 50px;
  cursor: pointer;
  color: white;
  z-index: 1001;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  z-index: 1004;
  background-color: #00000020;
  font-family: var(--fonte-primaria);
}
