.produtos {
  width: 100%;
  height: auto;
  max-width: 327px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 32px 8px;
  margin: 0 auto;
  margin-top: 32px;
}
