.section_produtos {
  padding-bottom: 64px;
  margin-top: 32px;
  border-top: 1px solid #e6e6e6;
}

.informacoes {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 950px;
  padding: 0 16px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 8px;
  box-sizing: border-box;
}
.total_pesquisa {
  font-size: 14px;
  font-weight: 300;
  font-family: var(--fonte-primaria);
}

.select_view {
  display: flex;
  gap: 8px;
}
.select_view img {
  padding: 4px;
  cursor: pointer;
}

.botao {
  margin-top: 32px;
}
