.pesquisa {
  position: absolute;
  top: 0px;
  left: 16px;
  height: 64px;
  width: 250px;
  background: white;
  animation: entrada 0.1s ease-in forwards;
  z-index: -1;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-family: var(--fonte-primaria);
  padding: 0 10px;
}

.seta_voltar {
  margin-right: 8px;
  cursor: pointer;
}

.lupaInput,
.lupa {
  cursor: pointer;
}
.lupa {
  margin-left: 40px;
}
.input_pesquisa {
  border: none;
  height: 30px;
  padding: 0;
  border-radius: 4px 0 0 4px;
  width: 250px;
  padding-left: 16px;
  box-sizing: border-box;
  border-right: 1px solid rgba(200, 200, 200, 0.3);
  border: 1px solid var(--cor-quarta);
  border-right: none;
}

.input_pesquisa::placeholder {
  color: rgb(137, 135, 135);
  font-weight: 600;
}
.input_pesquisa:focus {
  outline: none;
}

.button_pesquisa {
  display: flex;
  width: 40px;
  height: 30px;
  background-color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  padding-right: 4px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--cor-quarta);
  box-sizing: border-box;
}

.fundo {
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -100;
}

@keyframes entrada {
  from {
    opacity: 0;
    bottom: -20px;
  }
  to {
    opacity: 1;
    bottom: -50px;
  }
}
@media (max-width: 64rem) {
  .lupa {
    display: none;
  }
  .seta_voltar {
    margin-right: 8px;
    display: none;
  }
  .pesquisa {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: max-content;
    box-sizing: border-box;
    left: 0;
    justify-content: flex-start;
    justify-content: center;
    background-color: white;
    height: 50px;
    border: 1px solid var(--cor-quarta);
    border-radius: 8px;
  }
  .button_pesquisa,
  .input_pesquisa {
    height: 42px !important;
    border: none;
  }
  .input_pesquisa {
    width: 90%;
    min-width: 280px;
    border-radius: 10px 0 0 10px;
  }   
  .button_pesquisa {
    border-radius: 0 10px 10px 0;
  }

}
@media (min-width: 64rem) {
  .lupa {
    display: none;
  }
  .seta_voltar {
    display: none;
  }

  .pesquisa {
    display: grid;
    grid-template-columns: 80% 50px;
    width: 320px;
    border-radius: 8px;
    height: 40px;
    position: relative;
    top: 0;
    border: 1px solid var(--cor-quarta);
    z-index: 1000;
  }

  .button_pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;
  }
  .input_pesquisa {
    border: none;
    width: 100%;
    border: none;
    background: none;
    color: black;
  }
  .input_pesquisa::placeholder {
    color: rgba(150, 150, 150, 0.95);
  }
  .lupaInput {
    height: 100%;
    width: 40px;
    background-color: transparent;
  }
  .lupaInput {
    width: 24px;
    height: 24px;
    display: flex;
  }

}
