.resultado_container {
  position: absolute;
  top: 47px;
  left: 28px;
  background: white;
  width: 287px;
  margin: 0 auto;
  border: 1px solid var(--color-border);
  margin-left: 32px;
  margin-top: 4px;
}

.produto_pesquisa {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid var(--color-border);
  cursor: pointer;
  padding: 4px 8px;
}

.produto_pesquisa:hover {
  background-color: var(--color-border);
}

.produto_pesquisa img {
  border-radius: 6px;
  margin-right: 8px;
}

@media (min-width: 64rem) {
  .resultado_container {
    width: 100%;
    left: -1px;
  }
}
