.menuMobile {
  display: block;
  height: 100vh;
  width: 240px;
  background-color: white;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 1004;
  animation: openMenu ease-in forwards 0.3s;
  overflow-x: hidden;
  object-fit: cover;
}

@keyframes openMenu {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  backdrop-filter: blur(1px);
  filter: blur(1px);
  z-index: 1000;
}

.subtitulo {
  color: #393939;
  font-family: var(--fonte-primaria);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
  padding-left: 16px;
}
.categorias {
  height: max-content;
  padding-bottom: 80px;
}
