

.produto_finalizar {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 70px;
  padding:  8px 0;
}

.informacoes_produto {
  display: flex;
  margin: 0;
  align-items: flex-start;
  gap: 16px;
}

.informacoes_produto img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  padding: 8px;
  box-sizing: border-box;
}
.titulo {
  display: block;
}

.informacoes p {
  color: var(--Black, #212429);
  font-family: var(--fonte-primaria);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: capitalize;
}
.informacoes a,
.informacoes_produto span {
  color: #471703;
  font-family: var(--fonte-primaria);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  max-width: 130px;
  max-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quantidade_table {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 16px;
  border-radius: 110px;
  grid-row: 2;
  grid-column: 2;
}

.div_quantidade {
  height: 30px;
}
.div_quantidade button img {
  padding: 8px;
}

.valor {
  color: #000;
  text-align: right;
  font-family: var(--fonte-primaria);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  min-width: 120px;
  text-align: center;

}
.valor_total_produto{
  grid-row: 2;
  grid-column: 1;
}
.valor_total_produto p {
  padding-right: 48px;
}
.valor span {
  display: none;
}
.valor.promotion span {
  display: block;
  font-weight: 300;
  font-size: 12px;
  text-decoration: line-through;
}
.valor.promotion {
  display: flex;
  flex-direction: column;
  color: var(--cor-contraste);
}

@media (max-width: 600px) {
  .produto_finalizar {
    display: grid;
    grid-template-columns: 60vw 100px;
    align-items: center;
    height: auto;
    min-width: 90vw;
    box-sizing: border-box;
  }
  .valor_produto {
    display: none;
  }
}
