.vantagem {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
  height: 40px;
  padding-bottom: 16px;
}
.vantagem h2 {
  color: #471703;
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
}
.vantagem p {
  color: #5c5c5c;
  font-family: 'Montserrat';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 64rem) {
  .vantagem {
    border: 1px solid var(--cor-quarta);
    border-radius: 8px;
    padding: 8px;
  }
}
