.informacoes_usuario {
  display: flex;
  justify-content: space-between;
}
.estrelas {
  display: flex;
  align-items: center;
  height: 30px;
}

.nome {
  color: #471703;
  font-family: var(--fonte-primaria);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.data {
  color: #a0a0a0;
  font-family: var(--fonte-primaria);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
