.breadcrumb {
  display: flex;
  color: rgba(33, 36, 41, 0.6);
  font-family: var(--fonte-primaria);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 16px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
  gap: 6px;
}
.breadcrumb a {
  color: rgba(33, 36, 41, 0.6);
  font-family: var(--fonte-primaria);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}