.sidebar_form {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  width: 100%;
  max-width: 400px;
  /* min-width: 350px; */
  right: 0;
  top: 0px;
  background: white;
  z-index: 1000;
  animation: entrada ease-in 0.3s forwards;
}

.sidebar_form h2 {
  color: #566a7f;
  padding: 1.5rem 0;
  padding-left: 16px;
  font-size: 16px;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}

.sidebar_form form {
  width: 90%;
  margin: 0 auto;
}
.sidebar_form form label {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: inherit;
  font-weight: 500;
  color: #566a7f;
  font-family: var(--fonte-primaria);
}

.fechar {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  position: fixed;
  right: 10px;
  top: 1.2rem;
  background-color: #eceff1;
  color: #abb5bf;
  font-weight: 700;
}
.toggle_button_div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 8px;
  align-items: self-start;
}
.toggle_button_div input {
  margin: 0;
}
.botoes {
  display: flex;
  gap: 32px;
}
.view_banners_div {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}
.view_banners_div img {
  margin-top: 8px;
}
@keyframes entrada {
  from {
    transform: translate3d(+400px, 0, 0);
  }
  to {
    transform: translate3d(0px, 0, 0);
  }
}
