.area_textos_container {
  padding-bottom: 16px;
  border-bottom: 1px solid #f2f2f2;
}

.area_textos {
  width: 327px;
  margin: 0 auto;
  height: max-content;
  margin-top: 16px;
}

.texto_indicativo {
  margin-top: 8px;
}

.produtos {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}

.finalizar_container {
  padding-bottom: 64px;
}
