body {
  min-height: 100vh;
}

.container_payment {
  background-color: #f3f3f3 !important;
}


.card {
  border-radius: 12px;
  background-color: white;
  padding: 16px;
  box-shadow:  0 0 8px rgba(100, 100, 100, 0.25);
}