.form_comment_container {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  margin-top: 16px;
  padding: 0 16px 16px 16px;
  box-sizing: border-box;
  border-radius: 8px;
}

.label_foto::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url('../../../../../../../public/produto/pagina/comentarios/addImage.svg');
  background-size: cover;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 24px;
}
.label_foto {
  position: relative;
  margin-bottom: 78px !important;
}
.stars {
  position: relative;
}

.textoArea {
  height: 100px;
  min-width: 236px;
  width: calc(100% - 16px);
  border-radius: 8px;
  resize: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid var(--color-border);
}

.form_comment_container label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 16px;
}

.stars input[type='radio'] {
  position: relative;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  border: 1px solid black;
  left: -6px;
  z-index: 1000;
  appearance: none;
  opacity: 0;
  cursor: pointer;
}
.stars div {
  position: absolute;
  top: 0;
}
