.buttons_filtros_container {
    background-color: #fae7d7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    padding: 16px 32px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    bottom: 0px;
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
}
.buttons_filtros_container > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 110px;
    gap: 8px;
    color: rgb(11, 11, 11);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.buttons_filtros_container .button_filtro {
    border-right: 1px solid #dcdcdc;
    padding-right: 16px;
}
.buttons_filtros_container .button_order {
    padding-left: 16px;
}
.side_nav {
    display: none;
}


@media (min-width: 64rem) {

    .buttons_filtros_container {
        display: none;
    }

}
