.variaveis_sizes {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.variaveis_sizes p {
  margin-bottom: 16px !important;
}
.sizes_amount_div {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-border);
  padding-top: 8px;
}

.sizes_amount_div input {
  border: 1px solid #e7e7e7;
  display: block;
  width: 100%;
  height: 36px;
  font-size: 14px;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: #eee;
  transition: 0.2s;
  margin-bottom: 16px;
  margin-top: 8px;
}

.sizes_amount_div input::placeholder {
  color: #ccd;
  transition: all 0.2s;
}

.sizes_amount_div input[type='text'],
.sizes_amount_div input[type='number'] {
  padding: 0 8px;
}
.sizes_amount_div input[type='number'] {
  width: 100% !important;
}

.sizes_amount_div input[type='text']:focus,
.sizes_amount_div input[type='text']:hover,
.sizes_amount_div input[type='number']:focus,
.sizes_amount_div input[type='number']:hover {
  outline: none;
  border-color: var(--cor-primaria);
  background-color: white;
}

.sizes_amount_div input:focus::placeholder {
  padding-left: 6px;
}

.sizes_amount_div input[type='text']:focus,
.sizes_amount_div input[type='number']:focus {
  box-shadow: 0 0 0 3px #996557;
}

.sizes_amount_div label {
  margin: 0;
}

.botoes {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.botoes div {
  max-width: 100%;
}

.btn_add {
  max-width: 160px;
  min-width: 100px;
  height: 40px;
  background-color: #e7e7ff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
  color: #696cff;
  cursor: pointer;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.1s;
}
.btn_add:hover {
  transform: translateY(-3px);
}

@media (max-width: 576px) {
  .sizes_amount_div {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;
  }
  .sizes_amount_div input {
    margin-bottom: 0px;
  }
}
