.sessao {
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 24px;
  border-top: 1px solid #4d4d4d;
}
.sessao p {
  margin-bottom: 8px;
  color: white;
}

.sessao h3 {
  cursor: pointer;
}