.container_rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    gap: 8px;
}
.container_rodape p{
    font-family: 'Public Sans';
    font-size: 15px;
    font-weight: 400;
    color: #a1acb8;
    text-align: center;
}

.botoes {
    display: flex;
    gap: 8px;
}