.mobile_button {
  width: 25px;
  height: 20px;
  background-color: transparent;
  border-radius: 0.2rem;
  height: 20px;
  width: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.mobile_button::before,
.mobile_button::after {
  background: #6b4020;
  content: '';
  display: block;
  position: relative;
  width: 26px;
  height: 2px;
  border-radius: 2px;
  transition: 0.2s;
}

.mobile_button.ativo::after {
  transform: rotate(45deg);
  top: -3px;
}
.mobile_button.ativo::before {
  transform: rotate(-45deg);
  top: 5px;
}
