.fotosProduto {
    width: 100%;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    margin-top: 16px;
    align-items: center;
    box-sizing: border-box;
}
.fotoPrincipal {
    width: 100%;
    max-width: 326px;
    height: auto;
}