.lista p {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #393939;
  font-family: var(--fonte-primaria);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: max-content;
  cursor: pointer;
}
.div_name {
  cursor: pointer;
}
.lista p:hover {
  color: #4a4a69;
  font-weight: 600;
}

.seta {
  display: flex;
  width: 30px;
  cursor: pointer;
  padding-left: 8px;
}
.seta img {
  transform: rotate(270deg);
}
