.mySwiper {
  padding-bottom: 8px;
  max-width: 326px;
  width: 90%;
  --swiper-navigation-size: 22px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: black;
}
.produto_thumbs {
  width: 100%;
  background-color: #f7f7f7;
  padding: 0px 20px;
  padding-top: 10px;
  box-sizing: border-box;
}