.mobile_button {
  width: 26px;
  height: 24px;
  background-color: transparent;
  border-radius: 0.2rem;
  height: 20px;
  width: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
  font-size: 0px;
}

.mobile_button::after {
  width: 26px;
  background: var(--cor-quinta);
  box-shadow:
    0 8px var(--cor-quinta),
    0 -8px var(--cor-quinta);
}
.mobile_button::after {
  content: '';
  display: block;
  width: 26px;
  height: 2px;
  border-radius: 2px;
  transition: 0.2s;
}

@media (min-width: 64rem) {
  .mobile_button {
    display: none;
  }
}