.popUp {
  display: flex;
  max-width: 190px;
  width: max-content;
  padding: 8px 16px;
  min-width: 160px;
  flex-wrap: wrap;
  position: fixed;
  top: 100px;
  right: -300px;
  background: black;

  color: white;
  font-size: 12px;

  border-radius: 4px;

  z-index: 1100;

  transition: 0.2s all;
  animation: entrada ease-out 5s;
}

.popUp.ativo {
  animation: entrada ease-out 5s;
}

@keyframes entrada {
  0% {
    right: -150px;
  }
  20% {
    right: 16px;
  }
  100% {
    right: 16px;
  }
}
