.produto_thumbs {
  height: max-content;
  width: 100%;
  padding: 0px 20px;
  padding-top: 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding-bottom: 8px;
  max-width: 326px;
  height: 94px;
  width: 95%;
  --swiper-navigation-size: 22px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: black;
}

.foto_slide {
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
  box-shadow: 0 0 1px 2px white;
}

@media (min-width: 64rem) {
  .foto_slide {
    box-shadow: none;
  }

  .produto_thumbs {
    height: 100%;
    max-width: 396px;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
  }
}
