.mySwiper {
  padding-bottom: 8px;
  max-width: 326px;
  width: 95%;
  --swiper-navigation-size: 22px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: black;
}
.produto_thumbs {
  width: 100%;
  padding: 0px 20px;
  padding-top: 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.foto_slide {
    width: 102px;
    height: 102px;
    border-radius: 8px;
    cursor: pointer;
    border: 3px solid transparent;
    object-fit: contain;
}
