.slide-categoria {
  width: 100%;
  height: 168px;
}
.slide-categoria .swiper-slide {
  width: 104px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.slide-categoria .swiper-pagination-bullet {
  border-radius: 2px !important;
  background-color: var(--cor-primaria);
  transition: all 0.2s;
  transform: translateY(100%);
}

.slide-categoria .swiper-pagination-bullet-active {
  background-color: var(--cor-secundaria) !important;
  width: 20px;
}

.slide-categoria .swiper-button-next,
.slide-categoria .swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: var(--cor-primaria);
  opacity: 0.8;
  margin-top: calc(-10px - (var(--swiper-navigation-size) / 2));
  color: white;

  top: 40%;

  --swiper-navigation-size: 22px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: black;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Padrão */
}

.slide-categoria .swiper-button-next {
  right: 40px;
}
.slide-categoria .swiper-button-prev {
  left: 40px;
}

.slide-categoria .swiper-button-next:hover,
.slide-categoria .swiper-button-prev:hover {
  opacity: 1;
}
.slide-categoria .swiper-button-next.swiper-button-disabled,
.slide-categoria .swiper-button-prev.swiper-button-disabled {
  pointer-events: visible !important;
  opacity: 0.35;
}

@media (min-width: 48rem) {
  .slide-categoria .swiper-slide {
    width: 120px;
  }
  .slide-categoria {
    height: 195px;
  }
}
@media (min-width: 64rem) {
  .slide-categoria {
    min-height: 252px;
    height: max-content;
  }
}
