.breadcrumb {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 32px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
}
.breadcrumb p {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #a1acb8;
}

.breadcrumb span {
  color: #566a7f;
  font-weight: 500;
}
