.descricao {
  border-top: 1px solid #e6e6e6;
  margin-top: 32px;
  padding-top: 8px;
  padding: 0 16px;
}
.texto {
  width: 327px;
  margin: 0 auto;
  margin-top: 16px;
}

@media (min-width: 64rem) {
  .texto {
    width: 100%;
  }
  .descricao {
  }
}
