.entrega {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  padding-left: 16px;
  box-sizing: border-box;
}

.textos {
  width: max-content;
  max-width: calc(100vw - 40px);
}
.entrega input {
  width: 152px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--Light-Blue, #dbe5f1);
  color: #999;
  margin-top: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  font-size: 16px;
  color: black;
}
.entrega input::placeholder {
  color: #999;
  font-family: var(--fonte-primaria);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.textos > div {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  height: auto;
  margin-bottom: 16px;
  align-self: center;
  width: 100%;
}
.textos p {
  width: 256px;
}

.buttonOk {
  margin-left: 16px;
  height: 48px;
  width: 48px;
  padding: 0;
  background-color: transparent;
  font-weight: 700;
  outline: none;
  color: #00000070;
  border: 1px solid #00000070;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s;
}
.buttonOk:hover {
  color: #000000;
  border: 2px solid #000000;
  transform: translate3d(0px, -3px, 0);
}

.entregas_metodos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  font-family: var(--fonte-primaria);
  margin-top: 32px;
}
.entrega_calculo {
  display: flex;
  gap: 8px;
  max-width: 100%;
  height: max-content;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 8px;
  align-items: center;
}


@media (min-width: 64rem) {
  .entrega {
    background-color: #d9d9d950;
    width: 100%;
    max-width: 350px;
    height: 184px;
    justify-content: center;
    padding-left: 24px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    grid-row: 2;
    gap: 0px;
    border-radius: 12px;
    margin-top: 0;
    padding: 16px;
    padding-bottom: 16px;
  }
  .entrega input {
    margin-bottom: 16px;
  }
  .textos {
    max-width: 100%;
  }
  .entrega p {
    display: flex;
    gap: 16px;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--fonte-primaria);
    align-items: center;
    width: 90%;
  }
  .titulo {
    display: none;
  }

  .entregas_metodos {
    width: 75%;
    max-width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1004;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 8px;
    gap: 16px !important;
  }

  .entregas_metodos p {
    width: max-content;
  }
}
