.entrega {
  width: calc(100% - 32px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
  font-family: var(--fonte-primaria);
}

.titulo {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-family: 'roboto', sans-serif;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-top: 16px;
}

.textos {
  width: max-content;
  max-width: calc(100vw - 40px);
}

.input_entrega {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.entrega input {
  width: 100%;
  margin-top: 6px;
  font-weight: 400;
  border: 0;
  border-bottom: 2px solid #191919;
  font-size: 14px;
  padding: 8px 0;
  box-sizing: border-box;
}
.entrega input::placeholder {
  color: #999;
  font-family: var(--fonte-primaria);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.textos {
  width: calc(100% - 10px);
  box-sizing: border-box;
}
.textos > div {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  height: auto;
  margin-bottom: 16px;
  align-self: center;
  width: 100%;
}

.buttonOk {
  margin-left: 32px;
  width: 96px;
  height: 40px;
  letter-spacing: 2px;
  align-items: center;
  background: #000;
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: center;
  outline: 0;
  overflow: hidden;
  padding: 0 32px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: background-color 175ms;
}
.buttonOk:hover {
  opacity: 0.8;
}

.entregas_metodos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  max-width: 100%;
  font-family: var(--fonte-primaria);
  margin-top: 32px;
}
.entrega_calculo {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 8px;
  width: 100%;
  height: max-content;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 8px;
  align-items: center;
}

.texto_indicativo_input {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 8px;
}

@media (min-width: 64rem) {
  .texto_indicativo_input label {
    font-size: 16px;
  }
  .input_entrega {
    width: max-content;
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .textos .entrega {
    width: 100%;
    max-width: 350px;
    height: max-content;
    justify-content: center;
    padding-left: 24px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    grid-row: 2;
    gap: 0px;
    border-radius: 12px;
    margin-top: 0;
    padding: 0px;
  }

  .entrega p {
    display: flex;
    gap: 16px;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--fonte-primaria);
    align-items: center;
    width: 90%;
  }

  .entregas_metodos {
    width: 75%;
    max-width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1004;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 8px;
    gap: 16px !important;
  }

  .entregas_metodos p {
    width: max-content;
  }
}
