.sections {
  grid-column: 1 / -1;
  font-family: var(--fonte-primaria);
  padding-bottom: 64px;
}
.select_view {
  display: flex;
  width: calc(100vw - 14px);
  position: relative;
  left: -34px;
  justify-content: center;
  border-bottom: 1px solid black;
}
.select_view p {
  position: relative;
  top: 1px;
}
.select_description {
  border-right: 1px solid black;
  padding-bottom: 6px;
}
.select_description,
.select_avaliacoes {
  cursor: pointer;
  padding-left: 32px;
  padding-right: 32px;
}
.select_avaliacoes.ativo,
.select_description.ativo {
  color: #EF3C3C;
  border-bottom: 3px solid #EF3C3C;
}

.div_descricoes,
.div_avaliacao {
  display: none;
  }
.div_descricoes.ativo,
.div_avaliacao.ativo {
  display: block;
}
@media (min-width: 1024px) {
  .entrega {
    display: none;
  }
}
