.titulo_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  cursor: pointer;
}

.seta {
  transition: 0.1s ease-in;
}
.seta.ativo {
  rotate: 180deg;
}
