.tituloSection {
    display: flex;
    align-items: center;
    width: 327px;
    justify-content: space-between;
    margin: 0 auto;
    cursor: pointer;
}

.seta {
    transition: 0.2s ease-in;
  }
  .seta.ativo {
    rotate: 180deg;
  }
