:root {
  --cor-de-indicacao: #242424;

  --cor-primaria: #471703;
  --cor-secundaria: #996557;
  --cor-terciaria: #3a292f;
  --cor-quarta: #6b4024;
  --cor-quinta: #441700;

  --cor-contraste: #ef3c3c;
  --cor-contraste2: #9d4112;

  --color-border: #d9dee3;
  --blue-bg-500: #696cff;
  --blue-bg-100: #dde3f1;
  --green-sucess-500: #71dd37;
  --yellow-alert-500: #ffab00;
  --red-danger-500: #ff3e1d;
}
