:root {
  --cor-de-indicacao: #242424;
  --cor-primaria: #4D0120;
  --cor-secundaria: #EFC2B0;
  --cor-terciaria: #000;
  --cor-quarta: #000;
  --cor-quinta: #000;

  --cor-principal: #4D0120;

  --cor-contraste: #FF6B6B;
  --cor-contraste2: #cc1f0f;

  /* Dashboard */

  --color-border: #d9dee3;
  --color-border-2: #f2f2f2;

  --blue-bg-500: #696cff;
  --blue-bg-100: #dde3f1;
  --green-sucess-500: #4CAF50;
  --yellow-alert-500: #ffab00;
  --red-danger-500: #D32F2F;
}
