@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body,
h1,
h2,
h3,
p,
span {
  margin: 0px;
  padding: 0px;
  color: black;
}
body.scroll-lock {
  overflow: hidden;
}

li,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

:root {
  --fonte-primaria: 'Montserrat', 'sans-serif';

  --cor-primaria: #471703;
  --cor-secundaria: #996557;
  --cor-terciaria: #3a292f;

  --color-border: #d9dee3;
}

.titulo_sessao {
  color: var(--cor-primaria);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  font-variant: small-caps;
}

.titulo_area {
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
}

.titulo_sideBar{
  color: #7b8191;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    height: 15px;
    opacity: .6;
    white-space: nowrap;
}

.subtitulo {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  font-variant: small-caps;
}

/* textos normais */
.texto {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.texto_indicativo {
  color: #808080;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
