.cores {
  width: max-content;
  min-width: 150px;
  height: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 32px;
  border: 1px solid rgba(220, 220, 220, 0.6);
  box-sizing: border-box;
  padding: 0 16px;
  justify-content: space-between;
  background-color: white;
}
.selectColor_container {
  position: relative;
}
.select_color {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contentOption {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  min-width: 44px;
  min-height: 44px;
  border: 1px solid #e0e0e0;
  width: 44px;
  height: 44px;
  border-radius: 56px;
  box-sizing: border-box;
}
.contentOption.ativo {
  border: 1px solid #000;
}

.contentColor {
  width: 36px;
  height: 36px;
  border: 1px solid #e0e0e0;
  display: block;
  position: relative;
  border-radius: 50px;
  background-color: #080808;
  box-sizing: border-box;
}

.selectColors {
  left: 0;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, 44px);
  min-height: 48px;
  font-size: 0px;
  gap: 16px;
  position: relative;
  padding-top: 16px;
}
.selectColors.ativo {
  display: flex;
}

.cores_disponiveis {
  width: 44px;
  padding: 0;
  height: 44px;
  justify-self: center;
}
.cores_disponiveis:hover {
  background: rgba(220, 220, 220, 0.6);
}
.cor_selecionada_span {
  font-family: 'roboto', sans-serif;
  width: 100%;
  font-size: 12px;
  color: #191919;
  line-height: 1em;
}
.cor_selecionada_span span {
  padding-left: 4px;
  color: #5c5c5c;
  display: inline-block;
  font-weight: 700;
}
@media (min-width: 64rem) {
  .selectColor_container {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .cores_disponiveis:hover {
    background: none;
  }
  .cores_disponiveis {
    width: max-content;
    padding: 0;
    height: 50px;
    justify-self: center;
  }
  .selectColors {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    grid-template-rows: auto;
    top: 0;
    font-size: 0px;
    width: 100%;
    box-shadow: none;
    border: none;
    flex-direction: row;
    gap: 8px;
    padding: 0;
    position: relative;
  }

  .contentOption.ativo {
    width: 36px;
    height: 36px;
    border: 1px solid #e0e0e0;
  }
  .cor_selecionada_span {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    width: max-content;
    top: -16px;
    left: 0;
    font-size: 16px;
    font-weight: 300;
    height: max-content;
  }
  .cor_selecionada_span span {
    font-weight: 700;
    font-size: 16px;
  }
  .cores {
    display: none;
  }
}
