.cores {
  width: max-content;
  min-width: 150px;
  height: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 32px;
  border: 1px solid rgba(220, 220, 220, 0.6);
  border-radius: 48px;
  box-sizing: border-box;
  padding: 0 16px;
  justify-content: space-between;
  background-color: white;
}
.selectColor_container {
  position: relative;
}
.select_color {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cor_selecionada {
  width: 24px;
  height: 24px;
  border: 1px solid #dbe5f1;
  border-radius: 24px;
}

.seta {
  width: 9px;
  height: 9px;
  transition: 0.2s ease-in;
}
.seta.ativo {
  rotate: 180deg;
}

.selectColors {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: white;
  min-height: 40px;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
}
.selectColors.ativo {
  display: flex;
}

.cores_disponiveis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  padding-right: 42px;
  font-family: var(--fonte-primaria);
}
.cores_disponiveis:hover {
  background: rgba(220, 220, 220, 0.6);
}
.cor_selecionada_span {
  font-family: var(--fonte-primaria);
  display: none;
}

@media (min-width: 64rem) {
  .selectColor_container {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .cores_disponiveis:hover {
    background: none;
  }
  .cores_disponiveis {
    width: max-content;
    padding: 0;
    height: 50px;
    justify-self: center;
  }
  .selectColors {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    grid-template-rows: auto;
    top: 0;
    font-size: 0px;
    width: 100%;
    box-shadow: none;
    border: none;
    flex-direction: row;
    gap: 16px;
    padding: 0;
    position: relative;
  }

  .cor_selecionada {
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    border: 3px solid transparent;
    box-shadow: 0 0 1px 1px #000000;
  }
  .cor_selecionada.ativo {
    width: 48px;
    height: 48px;
    box-shadow:
      inset 0px 0px 0px 4px #fff,
      0 0 1px 1px #00000080,
      inset 0 0 0 6px #00000030;
  }
  .cor_selecionada_span {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    width: max-content;
    top: -16px;
    left: 0;
    font-weight: 600;
    color: #471703;
    font-size: 20px;
    height: max-content;
  }
  .cor_selecionada_span span {
    font-weight: 400;
    font-size: 16px;
  }
  .cores {
    display: none;
  }
}
