.detalhes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 16px;
  align-items: center;
}
.informacoes {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
}
.botao_carrinho {
  margin-top: 32px;
  margin-bottom: 24px;
}
.entrega {
  display: none;
}

.botao_carrinho {
  width: calc(100% - 32px);
}

.botao_fixo {
  position: fixed;
  bottom: 0%;
  left: 0%;
  transform: -50%;
  width: 100%;
  background-color: #333;
  background: white;
  padding: 0 12px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, .1);
  z-index: 1000;
  animation: aparecer 0.6s ease forwards;
}
@keyframes aparecer {
  from {
    bottom: -200px;
  }
  to {
    bottom: 0%;
  }
}

.botao-compra {
  width: 100%;
  padding: 16px;
  background: #d71920;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
}


.btn_addcart {
  width: 100%;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: 100%;
  min-width: 100%;
  justify-content: space-between;
}

.favorito {
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.share {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}
.share p {
  width: 100%;
  font-family: 'roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #333;
}

@media (min-width: 64rem) {
  .detalhes {
    display: grid;
    grid-column: 2;
    grid-row: 4/5;
    background-color: white;
    max-width: max-content;
    gap: 24px;
    grid-template-rows: minmax(30px, max-content) max-content max-content auto;
    margin: 0px;
    margin-left: 32px;
    padding: 0;
    margin-top: 24px;
  }
  .entrega {
    width: 100%;
    max-width: 350px;
    height: 184px;
    box-sizing: border-box;
    display: flex;
  }

  .botao_carrinho {
    margin: 0;
    width: max-content;
    max-width: none;
    grid-column: 1;
    grid-row: 3;
  }

  .informacoes {
    flex-direction: column;
    min-height: none;
    grid-column: 1;
    grid-row: 2;
    gap: 24px;
  }
}
@media (min-width: 1400px) {
  .detalhes {
    width: max-content;
    grid-column: 2/4;
    max-width: 800px;
  }
  .entrega {
    grid-row: 4;
    grid-column: 1;
  }
}
