.detalhes {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 16px;
  align-items: center;
  padding-bottom: 32px;
}
.informacoes {
  width: 327px;
  display: flex;
  justify-content: space-between;
}
.botao_carrinho {
  margin-top: 32px;
}
.entrega {
  display: none;
}
@media (min-width: 64rem) {
  .detalhes {
    grid-column: 2;
    grid-row: 4/5;
    background-color: white;
    max-width: 350px;
    display: grid;
    gap: 32px;
    grid-template-rows: minmax(30px, max-content) max-content max-content 50px;
    margin: 0px;
    margin-left: 32px;
    padding: 0;
    padding-top: 32px;
    border-top: 1px solid #99655750;
  }
  .entrega {
    width: 100%;
    max-width: 350px;
    height: 184px;
    box-sizing: border-box;
    display: flex;
  }

  .botao_carrinho {
    margin: 0;
    width: max-content;
    max-width: none;
    grid-column: 1;
    grid-row: 4;
  }

  .informacoes {
    flex-direction: column;
    min-height: none;
    grid-column: 1;
    grid-row: 1;
    gap: 16px;
  }
}
@media (min-width: 1400px) {
  .detalhes {
    width: max-content;
    grid-column: 2/4;
    max-width: 800px;
    grid-template-columns: 311px 400px;
  }
  .entrega {
    grid-row: 1;
    grid-column: 2;
  }
}
