.detalhes {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 16px;
  align-items: center;
  padding-bottom: 32px;
}
.informacoes {
  width: 327px;
  display: flex;
  justify-content: space-between;
}
.botao_carrinho {
  margin-top: 32px;
}
.entrega {
  display: none;
}
@media (min-width: 64rem) {
  .detalhes {
    grid-column: 3;
    grid-row: 4/5;
    background-color: white;
    max-width: 350px;
    display: grid;
    gap: 32px;
    grid-template-rows: minmax(30px, max-content) max-content max-content 50px;
    margin: 0px;
    padding: 0;
  }
  .entrega {
    background-color: #d9d9d950;
    width: 100%;
    height: 184px;
    justify-content: center;
    padding-left: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 12px;
  }
  .entrega p {
    display: flex;
    gap: 16px;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--fonte-primaria);
    align-items: center;
    width: 90%;
  }
  .botao_carrinho {
    margin: 0;
  }
  .informacoes {
    flex-direction: column;
    min-height: 200px;
    grid-row: 2;
  }
}
