.preco {
  width: 327px;
  margin-top: 74px;
  text-align: end;
}

.preco span {
  font-size: 16px;
  text-decoration: line-through;
  font-family: var(--fonte-primaria);
  color: rgba(0, 0, 0, 0.6);
}
.preco .promotion {
  color: var(--cor-contraste);
}
