.tamanhos_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  font-family: var(--fonte-primaria);
}

.tamanhos {
  font-weight: 400;
  font-size: 12px;
  font-family: var(--fonte-primaria);
  cursor: pointer;
  min-width: 46px;
  padding: 4px;
  height: 46px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.tamanhos:hover {
  background-color: #dbdcdb;
}
.tamanhos p {
  font-weight: 500;
  height: 100%;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: black !important;
  border: 1px solid black;
}
.selected p {
  color: white;
  border: none;
}

.noStock {
  border: 1px solid #b7b9b7;
  opacity: 0.4 !important;
  pointer-events: none !important;
  position: relative;
}
.noStock::after {
  content: '';
  width: 70%;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  background: black;
}

.selectSizes {
  flex-direction: row;
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  background-color: none;
  min-height: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}
.selectSizes.ativo {
  display: flex;
}

.indicação {
  font-family: var(--fonte-primaria);
  font-size: 11px;
  font-weight: 400;
  position: relative;
  top: -8px;
  color: #878787;
}

.tamanhos_valor {
  display: flex;
  gap: 8px;
}

.span_tamanho {
  display: block;
  height: max-content;
  font-weight: 600;
  font-weight: 300;
  font-family: 'roboto', sans-serif;
  width: 100%;
  font-size: 12px;
  color: #191919;
  line-height: 1em;
}
