.tamanhos {
  width: max-content;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(220, 220, 220, 0.6);
  border-radius: 48px;
  box-sizing: border-box;
  background-color: white;
  justify-content: center;
  position: relative;
  padding: 0 24px;
}
.tamanhos p {
  font-weight: 500;
}
.span_tamanho {
  display: none;
}

.selected {
  background-color: var(--cor-secundaria);
  border: none;
}
.selected p {
  color: white;
}

.noStock {
  border: 1px solid #B7B9B7;
  opacity: 0.4 !important;
  pointer-events: none !important;
}
@media (min-width: 64rem) {
  .tamanhos_valor {
    display: flex;
    gap: 8px;
  }
  .tamanhos_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    font-family: var(--fonte-primaria);
  }
  .span_tamanho {
    display: block;
    width: max-content;
    height: max-content;
    font-weight: 600;
    color: #471703;
    font-size: 20px;
  }
  .tamanhos {
    width: 94px;
    border-color: #212429;
    cursor: pointer;
  }
}
