.entrega_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-self: flex-end;
  padding: 0 16px;
  box-sizing: border-box;
  padding-bottom: 32px;
  background-color: white;
  margin-top: 32px;
  border-radius: 12px;
  box-shadow:  0 0 8px rgba(100, 100, 100, 0.25);
}

.texto1 {
  margin-bottom: 32px;
  width: 270px;
}
.tituloArea {
  margin-bottom: 16px;
}

@media (min-width: 64rem) {
  .entrega_container {
    padding: 0px;
  }
}