
.container_nav ul {
  display: flex;
  background-color: white;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
}

.link {
  height: 50px;
  background-color: white;
  display: none;
}

@media (min-width: 1024px) {
  .link {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0 16px;
    margin: 0 16px;
    gap: 8px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    border-top: 2px solid transparent;
  }
  .link p {
    color: var(--cor-secundaria);
  }
  .link:hover {
    border-top: 2px solid  var(--cor-secundaria);
  }
  .link svg path {
    stroke:  var(--cor-secundaria);
  }

}
