.container_nav ul{
    display: flex;
    justify-content: center;
}

.link {
  height: 60px;
  background-color: white;
  display: none;
}


@media (min-width: 1024px) {
  .link {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0 32px;
    gap: 8px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }
  .link:hover p{
    color: var(--cor-secundaria);
  }
  .link:hover svg path{
    stroke: var(--cor-secundaria);
  }
}
