.container_nav {
  margin-top: 8px;
  position: relative;
}

.categorias_lista{
  display: flex;
  background-color: white;
  max-width: 1220px;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}

.link {
  height: 50px;
  background-color: white;
  display: none;
}
.background {
  position: absolute;
  top: 52px;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

@media (min-width: 1024px) {
  .link {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0 8px;
    gap: 4px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    border-top: 2px solid transparent;
  }
  .link p {
    color: var(--cor-quinta);
    transition: all 0.2s;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    font-family:"Montserrat" ;
  }

  .link svg path {
    stroke: var(--cor-quinta);
    transition: all 0.2s;
  }

  /* hovers */
  .link:hover {
    border-top: 2px solid var(--cor-contraste);
  }
  .link:hover p {
    color: var(--cor-contraste);
  }
  .link:hover svg path {
    stroke: var(--cor-contraste);
  }
}
