.pedido_card {
  display: table-row;
  width: 90vw;
  margin: 0 auto;
  font-family: var(--fonte-primaria);
  position: relative;
  height: 60px;
  align-items: center;
}
.pedido_card td {
  padding: 0 8px !important;
  text-align: center;
}
.pedido_card::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
}
.id_pedido a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 55px;

  font-size: 15px;
  font-weight: 500;
  color: #787bff;
  cursor: pointer;
}
.email,
.name {
  text-align: start;
}

.cliente_pedido {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.imagemPerfil {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.imagemPerfil img {
  border-radius: 50%;
}

.texto_estilo_1 {
  font-size: 15px;
  font-weight: 500;
  color: #697a8d !important;
  --bs-text-opacity: 1;
}

.texto_estilo_2 {
  font-size: 13px;
  font-weight: 400;
  color: #a1acb8 !important;
  --bs-text-opacity: 1;
}

.status_pagamento_pedido div {
  display: grid;
  grid-template-columns: 10px 100px;
  align-items: center;
  justify-content: center;
  text-align: start;
  gap: 8px;
}

.bolinha {
  display: block;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.bolinha {
  background-color: #71dd37;
}

.bolinha.pendente {
  background-color: #ffab00 !important;
}
.bolinha.cancelado {
  background-color: #ff3e1d !important;
}
.bolinha.devolvido {
  background-color: #ADD8E6 !important;
}

.status_pagamento_pedido {
  color: #71dd37 !important;
}

.status_pagamento_pedido.pendente {
  color: #ffab00 !important;
}
.status_pagamento_pedido.cancelado {
  color: #ff3e1d !important;
}
.status_pagamento_pedido.devolvido {
  color: #ADD8E6 !important;
}

.status_pedido {
  display: flex;
  width: 92px;
  padding: 6px 8px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-family: var(--fonte-primaria);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
}
.status_pedido.confirmado {
  background-color: #d6eef7 !important;
  color: #2cb3e4 !important;
}
.status_pedido.concluido {
  background-color: #e8fadf !important;
  color: #54b71f !important;
}
.status_pedido.cancelado {
  background-color: #ffd6d6;
  color: #d80e0e !important;
}
.status_pedido.enviado {
  background-color: #e7e7ff !important;
  color: #696cff !important;
}
.status_pedido.pendente {
  background-color: #fff2d6 !important;
  color: #d89000 !important;
}

.valor_pedido,
.metodo_pagamento_pedido {
  font-size: 15px;
  font-weight: 400;
  color: #697a8d;
}
@media (max-width: 460px) {
  .data_pedido {
    display: none;
  }
  .email {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90px;
  }
}
@media (max-width: 600px) {
  .status_pedido {
    font-size: 0;
    width: 0px;
    height: 3px;
    border-radius: 50%;
    margin: 0 auto;
  }

  
  .status_pedido.confirmado {
    background-color: #2cb3e4 !important;
  }  
  .status_pedido.concluido {
    background-color: #54b71f !important;
  }
  .status_pedido.cancelado {
    background-color: #d80e0e;
  }
  .status_pedido.enviado {
    background-color: #696cff !important;
  }
  .status_pedido.pendente {
    background-color: #d89000 !important;
  }
}
@media (max-width: 800px) {
  .status_pagamento_pedido {
    display: none;
  }
}
@media (max-width: 900px) {
  .metodo_pagamento_pedido {
    display: none;
  }
}
@media (max-width: 1200px) {
  .valor_pedido {
    display: none;
  }
}
