.linksUteis {
  display: flex;
  flex-direction: column;
  color: #000;
  padding-left: 16px;
  margin-top: 16px;
  gap: 16px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e6e6e6;
}

.linksUteis li {
  font-family: 'Public sans', sans-serif;
}

.linksUteis li:hover svg path {
  fill: #4a4a69;
}

.linksUteis li:nth-child(1):hover svg path,
.linksUteis li:nth-child(3):hover svg path,
.linksUteis li:nth-child(4):hover svg path {
  fill: none;
  stroke: #4a4a69;
}

