.entrega_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 327px;
  padding-bottom: 16px;
}

.texto1 {
  margin-bottom: 32px;
  width: 270px;
}
.tituloArea {
  margin-bottom: 16px;
}
