.porcentagem {
  display: flex;
  align-items: center;
}
.numero_estrelas {
  width: 10px;
  text-align: center;
}
.porcentagem_barra_content {
  width: 111px;
  max-width: 111px;
  height: 3px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #d9d9d9;
  margin-left: 8px;
}
.numero_estrelas {
  color: #471703;
  font-family: var(--fonte-primaria);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.porcentagem_barra {
  width: 100%;
  display: block;
  background-color: #471703;
  height: 100%;
  border-radius: 8px;
  transition: all 0.3s;
}

.porcentagem_numero {
  margin-left: 16px;
  color: #878787;
  font-family: var(--fonte-primaria);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
