.section_produtos {
  min-height: 500px;
  padding: 32px 0px 0 0px;
  margin-bottom: 128px;
}
.navegação {
  display: none;
}
@media (min-width: 64rem) {
  .titulo {
    grid-column: 2;
    grid-row: 3;
    max-width: 350px;
  }
  .titulo div {
    padding: 0;
    max-width: 350px;
  }
  .titulo a {
    display: none;
  }

  .section_produtos {
    display: grid;
    gap: 0 16px;
    grid-template-columns:  1fr minmax(300px, 490px);
    box-sizing: border-box;
    grid-template-rows: max-content 46px minmax(40px, max-content) calc(
        740px - 100px - 26px - 16px
      ) auto;
    margin: 0 auto;
    width: max-content;
    max-width: 1220px;
    padding: 64px 16px 0 32px;
  }
}
