.footer {
  background-color: #996557;
  height: max-content;
  padding-top: 24px;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
}
.textos {
  margin-top: 32px;
}
.textos p {
  color: white;
  padding-left: 24px;
  max-width: 312px;
  font-size: 12px;
}
.textos p {
  margin-top: 16px;
}
