.header {
  width: 100%;
  height: 64px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  box-sizing: border-box;
  position: relative;
  z-index: 999;
  max-width: 1220px;
  margin: 0 auto;
}
.container_header {
  box-shadow: 0 7px 26px rgba(154, 154, 204, 0.2);
}
.container1,
.container2 {
  display: flex;
  gap: 24px;
}

@media (min-width: 64rem) {
  .header {
    padding: 0px;
    height: 84px;
  }
  .login {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .login p {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: var(--cor-quinta);
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
  }
  .logo img {
    height: 60px;
    width: auto;
  }
  .container2 {
    margin-right: 24px;
  }
}
