.imagem img {
  width: 100%;
  object-fit: contain;
  height: max-content;
}
.imagem_mobile {
  display: block;
}
.imagem_desktop {
  display: none;
}
.imagem {
  width: 100%;
  height: max-content;
}

.container_banner {
  height: max-content;
}

@media (min-width:48rem) {
  .imagem_mobile {
    display: none;
  }
  .imagem_desktop {
    display: block;
  }
}