.div_titulo {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 0 16px;
  max-width: 1220px;
  margin: 0 auto;
}

.titulo {
  color: var(--cor-primaria);
  font-family: 'Montserrat';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  font-variant: small-caps;
}
