.textInfos_container {
  padding: 8px 32px;
  display: grid;
  width: 100%;
  grid-template-columns: minmax(100px, 1fr) 62px;
  border-bottom: 1px solid var(--color-border);
  box-sizing: border-box;
}

.textInfos_container h3 {
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #566a7f;
  cursor: pointer;
}

.total_products_value ,
.total_products_register,
.total_products_amount,
.categoria {
  display: none;
}
.total_products_amount,
.total_products_register ,
.total_products_value {
  text-align: end;
}
.actions {
  text-align: start;
}
@media (min-width: 768px) {
  .total_products_register {
    display: block;
  }
  .textInfos_container {
    grid-template-columns: minmax(100px, 440px) 128px 72px;
  }
  .actions {
    text-align: end;
  }
}

@media (min-width: 900px) {
  .total_products_value {
    display: block;
  }
  .textInfos_container {
    grid-template-columns: minmax(100px, 450px) 128px 160px 90px;
  }
}
@media (min-width: 1000px) {
  .total_products_amount {
    display: block;
  }
  .textInfos_container {
    grid-template-columns: minmax(100px, 450px) 80px 100px 100px 90px;
  }
}

