.textInfos_container {
  padding: 8px 32px;
  display: grid;
  width: 100%;
  grid-template-columns: 40px minmax(100px, 1fr) 75px 70px;
  border-bottom: 1px solid var(--color-border);
  box-sizing: border-box;
  justify-items: center;
}
.produto  {
  grid-column: 1/3;
  justify-self: start;
}
.textInfos_container h3 {
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #566a7f;
  cursor: pointer;
}


.total_products_value ,
.total_products_amount,
.categoria {
  display: none;
}

.actions {
  text-align: start;
}

@media (min-width:576px) {

  .textInfos_container {
    grid-template-columns: 40px minmax(100px, 1fr) 100px 94px;
  }
}
@media (min-width: 768px) {

.total_products_amount,
  .total_products_register {
    display: block;
  }
  .textInfos_container {
    grid-template-columns: 40px minmax(100px, 1fr) 100px 128px 94px;
  }

}

@media (min-width: 1000px) {


  .textInfos_container {
    grid-template-columns:  40px minmax(100px, 1fr) 100px 128px 94px;
  }
}
@media (min-width: 1100px) {

  .textInfos_container {
    grid-template-columns: 40px 260px 100px 128px 120px 94px;
  }
  
  .total_products_value {
    display: block;
  }
}

