body {
  --fonte-primaria-dashboard: var(--type-first-Dashboard), sans-serif;
  font-family: var(--fonte-primaria-dashboard);
}
.name {
  font-family: var(--fonte-primaria-dashboard);
  font-style: 'normal';
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  color: #697a8d;
}
.description {
  color: #a1acb8;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.container_dashboard {
  background-color: #f5f5f5;
}

@media (min-width: 1024px) {
  .container_dashboard {
    margin: 0 auto;
    padding-left: 240px;
    max-width: 1400px;
  }
}

@media (min-width: 1300px) {
}
