.container_pedido {
    padding-left: 16px;
    padding-bottom: 60px;
}

.status_pedido {
    display: flex;
    gap: 16px;
    align-items: center;
    grid-column: 1;
}
.id_pedido {
    font-weight: 500;
    font-size: 18px;
    color: #566a7f;
    grid-column: 1;

}
.data {
    font-size: 15px;
    font-weight: 400;
    color: #697a8d;
    grid-column: 1;

}
.confirmado {
    background-color: #e8fadf !important;
    color: #54b71f !important;
    padding: 8px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 15px;
  }
  .cancelado {
    background-color: #ffd6d6;
    color: #d80e0e !important;
    padding: 8px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 15px;
  }
  .enviado {
    background-color: #e7e7ff ;
    color: #696cff !important;
    padding: 8px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 15px;
  }
  .pendente {
    background-color: #fff2d6 ;
    color: #d89000 !important;
    padding: 8px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 15px;
  }
  .botoes {
    display: flex;
    gap: 8px;
    margin-top: 32px;
  }
  @media (min-width: 1200px) {
    .container_pedido {
      display: grid;
      grid-template-columns: max-content 350px;
    }
  }