.favorito {
  cursor: pointer;
  min-width: 30px;
  position: relative;
  height: 30px;
}

@media (min-width: 64rem) {
  .favorito div div svg {
    width: 32px !important;
    height: 32px !important;
  }
}
