.interatividades {
  height: 30px;
  width: 100%;
  max-width: 326px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.interacao {
  display: flex;
  gap: 16px;
  align-items: center;
}

.interacao div div svg g path {
  stroke: var(--cor-secundaria);
}

@media (min-width: 64rem) {
  .estrelas {
    position: relative;
  }
  .interatividades {
    position: initial;
    padding-left: 32px;
    box-sizing: border-box;
    max-width: none;
    width: 100%;
    max-width: 740px;
    grid-column: 2;
    grid-row: 3;
    margin: 0;
  }
}
