.lista a {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  color: #7b8191;
  position: relative;
  font-size: 14px;
  line-height: 1;
  vertical-align: middle;
  font-weight: 400;
}
.lista .ativo {
  color: #4a4a69!important;
    font-weight: 600;
}

.lista svg {
  width: 20px;
  height: 20px;
}
.lista:hover  a{
  color: #4a4a69;
  font-weight: 600;
}
.lista:hover img{
  background: red;
}


