.review {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.informacoes_produto {
    display: flex;
    gap: 32px;
}
.image_review {
    object-fit: cover;
    border-radius: 12px;
    margin-top: 16px;
}