.media {
  width: 100%;
  max-width: 400px;
  height: 180px;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-top: 8px;
  padding: 16px;
  box-sizing: border-box;
}

@media (min-width: 64rem) {
  .media {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
  }
}
